<div class="row">
  <div class="col-md-6">
    <h1>All Posts</h1>
  </div>

  <div class="col-md-6">
    <div class="pull-right">
      <%= bs_link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>


<br/>

<div class="post-list">
  <% @posts.each do |post| %>
    <%= render partial: 'posts/show', object: post, locals: { smaller_avatar: true } %>

    </br>
  <% end  %>
</div>


