<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <% if can? :edit, @post %>
          <%= bs_link_to 'Edit', edit_post_path(@post) %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'posts/show', object: @post, locals: { smaller_avatar: false } %>

<hr/>

<h3>Add Comment</h3>

<%= render partial: 'comments/form' %>

<hr/>

<h3>Comments</h3>

<div id="comments-list">
  <% if @post.comments.empty? %>
   <small id="comments-placeholder">No comments yet</small>
  <% else %>
    <%= render partial: 'comments/comment', collection: @post.comments %>
  <% end %>
</div>

<br/>


